body {
  position: relative;
}

.header {
  display: flex;
  padding: 3.2rem 6.4rem;
  gap: 6.4rem;
  align-items: center;
  justify-content: space-between;

  z-index: 1000;

  &__logo {
    display: flex;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: var(--off-white);
    justify-content: center;
  }

  &__nav {
    flex: 0 0 50%;

    &__list {
      display: flex;
      align-items: center;
      justify-content: space-around;
      list-style-type: none;
      @include respond(sm-desktop) {
        gap: 3.2rem;
      }

      &--link {
        font-size: 1.6rem;
        font-weight: 400;

        text-decoration: none;
        letter-spacing: 1px;

        color: var(--off-white);
        transition: color 0.2s ease;

        border: none;
        border-bottom: 1px solid transparent;

        &:link,
        &:hover {
          color: var(--brown-light);
        }

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background-color: var(--brown-light);
          transition: width 0.3s;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}
input,
select,
textarea {
  color: var(--brown-light);
}
